body.dark {
    background-color: var(--color-grey-0);
}

body.dark h2{
    color: var(--color-grey-8);
}

body.dark .div__option-text{
    color: var(--color-grey-4);
}

body.dark .option__button{
    background-color: var(--color-grey-1);
    border: none;
    color: var(--color-grey-3);

}

body.dark .button__icon{
    background-color: var(--color-grey-1);
    color: var(--color-grey-3);
}

body.dark .option__button:hover{
    color: var(--color-grey-9);
    border: 1px solid var(--color-grey-9);
}

body.dark .input__paragraph{
    color: var(--color-grey-4);
 
}

body.dark .input__value{
    color: var(--color-grey-4);

}

body.dark .render__music-text{
    color: var(--color-grey-4);
 
}

body.dark .render__cart{
    background-color: var(--color-grey-1);
}

body.dark .render__span-music{
    color: var(--color-grey-3);
}

body.dark .render__span-year{
    color: var(--color-grey-3);
  
}
body.dark .render__music-paragraph{
    color: var(--color-grey-8);

}

body.dark .render__value-text{
    color: var(--color-grey-8);

}

body.dark .button__cart{
    color: var(--color-grey-3);
    background-color: var(--color-grey-2);
}

body.dark .button__cart:hover{
    color: var(--color-grey-9);
    border: 1px solid var(--color-grey-9);
}